# Netlify CI/CD explanation file
Netlify-CI-CD-Explanation.txt
PROJECT_STRUCTURE_AND_CODE_REFERENCE.md
# CI/CD guide file
CI-CD-Guide.txt
# Ignore project timeline file
WanderNest_Timeline.txt
api-requirements.txt
Qodo_AI_Frontend_Guide.txt
contribution_logs.txt
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env
